body{
  margin: 0;
  padding: 0;
  background: url(background.jpg);
  background-size: cover;
  font-family: sans-serif;
}
.loginbox{
  width: 400px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
}
.logo{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  top: -90px;
  left: calc(50% - 75px)
}
h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}
.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
  border: none;
  border-bottom: 1px solid #fff;
  border-bottom-color: rgb(50,190,160);
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="text"]:focus, input[type="password"]:focus{
  border-bottom-color: #ffc107;
      transition:all 1s;

}
.loginbox input[type="submit"]{
  border: none;
  outline: none;
  height: 40px;
  background: rgb(50,190,160);
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a{
  text-decoration:none ;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover{
  color: #ffc107;
}